.tab-component{
    margin: 2% 10%;
    border:1px solid grey;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.tab-component .tabs{
    display: flex;
    flex-wrap: wrap;
}
.tab-component .tabs input[type="radio"]{
    display: none;
}

.tab-component .tabs label{ 
    margin: 1rem 0;
    padding:0.5rem;
    color: #535c68;
    cursor: pointer;
    transition: border-width 0.5s ease-in-out; 
    font-size: 1.5rem;
    order: -1;
    min-width: 10%;
    text-align: center;
}

.tab-content{
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    display: none;
}

.tabs input[type="radio"]:checked + label + .tab-content{
    display: block;
}

.tabs input[type="radio"]:checked + label{
    background-color: #dff9fb;
    border-bottom: 2px solid teal;
}

