.tab-wrapper{
    
}

.tab-wrapper .tab-header{
    background-color: #d3f1f1;
}

.tab-wrapper .tab-header .tab{
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0.2rem 1rem;
    margin-left: rem;
    background-color: #d3f1f1;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-wrapper .tab-contents{
    margin: 1rem;
} 

.tab-wrapper .tab-contents .tab-content-header{
    margin: 1rem;
}

.tab-wrapper .tab-contents .tab-content-info{
    padding: 1rem;
}

.tab-wrapper .tab-contents .tab-content{
    display: none;
}

.tab-wrapper .tab-header .active-tab{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tab-wrapper .tab-contents .active-content{
    display: block;
}